<div class="row mb-3">
  <div class="col-sm-4">
    <h3><%= params[:page_type] ? params[:page_type].humanize.pluralize : 'All pages and posts' %></h3>
  </div>
  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        show only
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
          <%= link_to admin_pages_path(page_type: 'blog_post') do %>
            <span class="fa fa-leaf"></span>
            Blog Posts
            (<%= Page.blog_posts.count %>)
          <% end %>
        </li>
        <li class="dropdown-item">
          <%= link_to admin_pages_path(page_type: 'blog_page') do %>
            <span class="fa fa-file"></span>
            Blog Pages
            (<%= Page.blog_pages.count %>)
          <% end %>
        </li>
        <li class="dropdown-item">
          <%= link_to admin_pages_path(page_type: 'blog_sidebar_snippet') do %>
            <span class="fa fa-align-justify"></span>
            Blog sidebar_snippets
            (<%= Page.blog_sidebar_snippets.count %>)
          <% end %>
        </li>
        <li class="dropdown-item">
          <%= link_to admin_pages_path(page_type: 'sidebar_snippet') do %>
            <span class="fa fa-align-justify"></span>
            sidebar_snippets
            (<%= Page.sidebar_snippets.count %>)
          <% end %>
        </li>
        <li class="dropdown-item">
          <%= link_to admin_pages_path(page_type: 'menu_page') do %>
            <span class="fa fa-file"></span>
            menu_pages
            (<%= Page.menu_pages.count %>)
          <% end %>
        </li>
        <li class="dropdown-item">
          <%= link_to admin_blog_categories_path do %>
            <span class="fa fa-folder-open"></span>
            Categories (Blog)
            (<%= BlogCategory.count %>)
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-5 text-right">
    <%= link_to new_admin_page_path(page_type: 'blog_post'), class: 'btn btn-secondary' do %>
      <span class="fa fa-leaf"></span>
      add new blog post
    <% end %>
    &nbsp;
    <%= link_to new_admin_page_path, class: 'btn btn-secondary' do %>
      <span class="fa fa-file"></span>
      add new page/snippet
    <% end %>
  </div>
</div>

<table id="" class="table table-striped table-hover table-sm">
  <%= render @pages %>
</table>
