<tr class="mod-state-<%= comment.mod_state %>" id="<%= dom_id(comment) %>">
  <td class="title">
    <strong>
      <%= link_to comment.title, admin_comment_path(comment) %>
    </strong>
    <br>
    <% if comment.commentable %>
      <%= link_to polymorphic_path([:admin, comment.commentable]), class: 'commentable' do %>
        <strong>
          <span class="fa fa-calendar"></span>
          <%= comment.commentable_type %>:
        </strong>
        <%= comment.commentable.title %>
      <% end %>
    <% else %>
      -
    <% end %>
    <br>
    <div class="btn-group btn-group-xs">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-cog"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% unless comment.unchecked? %>
          <li>
            <%= link_to uncheck_admin_comment_path(comment), method: 'patch', remote: true do %>
              <span class="fa fa-question-sign"></span>
              mark unchecked
            <% end %>
          </li>
        <% end %>
        <% unless comment.published? %>
          <li>
            <%= link_to publish_admin_comment_path(comment), method: 'patch', remote: true do %>
              <span class="fa fa-thumbs-up"></span>
              publish
            <% end %>
          </li>
        <% end %>
        <% unless comment.hidden? %>
          <li>
            <%= link_to hide_admin_comment_path(comment), method: 'patch', remote: true do %>
              <span class="fa fa-thumbs-down"></span>
              hide
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </td>
  <td>
    <%= comment.author %><br>
    <br>
    <span class="fa fa-time"></span>
    <br>
    <%= comment.created_at.to_s(:gdt) %>
  </td>
  <td>
    <%= simple_format(comment.body) %>
  </td>
  <td class="last">
    <%= link_to admin_comment_path(comment), method: :delete, remote: true, class: 'btn btn-danger pull-right delete_comment' do %>
      <span class="fa fa-trash"></span>
    <% end %>
  </td>

</tr>
