<tr class="mod-state-<%= event.mod_state %>" id="<%= dom_id(event) %>">
  <td class="title">
    <% if event.recently_created? %>
      &nbsp;
      <span style="color: #cc3333;" class="fa fa-user" title="User can edit for <%= (event.remaining_edit_time / 60.0).to_i %> more minutes"></span>
    <% end %>
    <%= link_to event.title, admin_event_path(event) %>
  </td>
  <td>
    <%= event.date.to_s(:gd) if event.date %>
  </td>
  <td>
    <%= event.city %>
  </td>
  <td class="mod-buttons">
    <div class="btn-group btn-group-xs">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-cog"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% unless event.unchecked? %>
          <li>
            <%= link_to uncheck_admin_event_path(event), method: 'patch', remote: true do %>
              <span class="fa fa-question-sign"></span>
              mark unchecked
            <% end %>
          </li>
        <% end %>
        <% unless event.published? %>
          <li>
            <%= link_to publish_admin_event_path(event), method: 'patch', remote: true do %>
              <span class="fa fa-thumbs-up"></span>
              publish
            <% end %>
          </li>
        <% end %>
        <% unless event.hidden? %>
          <li>
            <%= link_to hide_admin_event_path(event), method: 'patch', remote: true do %>
              <span class="fa fa-thumbs-down"></span>
              hide
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td class="small">
    <%= event.created_at.to_s(:gdt) %>
    <%= "von: #{event.reporter}" if event.reporter.present? %>
  </td>
  <td>
    <% if event.comments.any? %>
      <%= link_to admin_comments_path(commentable_type: 'Event', commentable_id: event.id) do %>
        <span class="fa fa-comment"></span>
        <%= event.comments.size %>
      <% end %>
    <% end %>
  </td>
  <td class="text-right last">
    <% if event.internal_admin_info.present? || event.internal_user_info.present? %>
      <a  class="internal-info"
          data-toggle="popover"
          data-placement="left"
          title="Internal Info:"
          data-html="true"
          data-content="<strong>User:</strong><br><%= event.internal_user_info %><hr><strong>Admin:</strong><br><%= event.internal_admin_info %><hr><a href='<%= edit_admin_event_path(event) %>#internal'>Edit</a>"
         >
        <span class="fa fa-info-sign"></span>
      </a>
    <% end %>
    <%= link_to edit_admin_event_path(event) do %>
      <span class="fa fa-edit"></span>
    <% end %>
  </td>
</tr>
