<tr class="<%= 'success' unless event.published? %>">
  <td>
    <% if event.recently_created? %>
      &nbsp;
      <span style="color: #cc3333;" class="glyphicon glyphicon-user" title="User can edit for <%= (event.remaining_edit_time / 60.0).to_i %> more minutes"></span>
    <% end %>
    <%= link_to event.title, admin_event_path(event) %>
  </td>
  <td>
    <%= event.date.to_s(:gd) %>
  </td>
  <td>
    <%= event.city %>
  </td>
  <td>
    <% if event.published? %>
      <%= link_to unpublish_admin_event_path(event.id), method: 'post', class: 'btn btn-xs btn-default' do %>
        <span class="glyphicon glyphicon-ban-circle"></span>
        hide
      <% end %>
    <% else %>
      <%= link_to publish_admin_event_path(event.id), method: 'post', class: 'btn btn-xs btn-default' do %>
        <span class="glyphicon glyphicon-ok-circle"></span>
        publish
      <% end %>
    <% end %>
  </td>
  <td class="small">
    <%= event.created_at.to_s(:gdt) %>
    <%= "von: #{event.reporter}" if event.reporter.present? %>
  </td>
  <td class="text-right">
    <% if event.internal_admin_info.present? || event.internal_user_info.present? %>
      <a  class="internal-info"
          data-toggle="popover"
          data-placement="left"
          title="Internal Info:"
          data-html="true"
          data-content="<strong>User:</strong><br><%= event.internal_user_info %><hr><strong>Admin:</strong><br><%= event.internal_admin_info %><hr><a href='<%= edit_admin_event_path(event) %>#internal'>Edit</a>"
         >
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    <% end %>
    <%= link_to edit_admin_event_path(event) do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
</tr>
