<%= form_tag(admin_events_path, method: 'get', class: 'form-inline row', id: 'filter-form', role: 'form') do %>

  <div class="col-sm-12 text-right">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-primary <%= 'active' if params[:order_date] == 'date' %>">
        <input type="radio" value="date" name="order_date" id="order_date_date" autocomplete="off" <%= 'checked' if params[:order_date] == 'date' %>>
        Nach Event Datum
      </label>
      <label class="btn btn-outline-primary <%= 'active' if params[:order_date] == 'created_at' or params[:order_date] == nil %>">
        <input type="radio" value="created_at" name="order_date" id="order_date_created_at" autocomplete="off" <%= 'checked' if params[:order_date] == 'created_at' or params[:order_date] == nil %>>
        Nach Erstellungsdatum
      </label>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-primary <%= 'active' if params[:mod_state] == 'all' or params[:mod_state] == nil %>">
        <input type="radio" value="all" name="mod_state" id="mod_state_all" autocomplete="off" <%= 'checked' if params[:mod_state] == 'all' or params[:mod_state] == nil %>>
        All
      </label>
      <label class="btn btn-outline-primary <%= 'active' if params[:mod_state] == 'unchecked' %>">
        <input type="radio" value="unchecked" name="mod_state" id="mod_state_unchecked" autocomplete="off" <%= 'checked' if params[:mod_state] == 'unchecked' %>>
        <i class="fa fa-question-circle pr-2"></i>
        unchecked
      </label>
      <label class="btn btn-outline-primary <%= 'active' if params[:mod_state] == 'published' %>">
        <input type="radio" value="published" name="mod_state" id="mod_state_published" autocomplete="off" <%= 'checked' if params[:mod_state] == 'published' %>>
        <i class="fa fa-thumbs-up pr-2"></i>
        published
      </label>
      <label class="btn btn-outline-primary <%= 'active' if params[:mod_state] == 'hidden' %>">
        <input type="radio" value="hidden" name="mod_state" id="mod_state_hidden" autocomplete="off" <%= 'checked' if params[:mod_state] == 'hidden' %>>
        <i class="fa fa-thumbs-down pr-2"></i>
        hidden
      </label>
    </div>
    <div class="btn-group">
      <%= text_field_tag(:q, params[:q],  {class: 'form-control', placeholder: 'Suchbegriff..'}) %>
      <%= submit_tag(raw('Filter'), class: 'btn btn-info') %>
    </div>
  </div>


<% end %>
