<article class="pr blog-content__article">
  <h2>
    <%= link_to post.title, blog_post_path(post.id) %>
  </h2>

  <span class="glyphicon glyphicon-time blog-content__glyphicon"></span>
  <%= post.created_at.to_s(:gdt) %>

  <% if post.blog_categories.any? %>
    &nbsp;
    <span class="glyphicon glyphicon-folder-open blog-content__glyphicon"></span>&nbsp;
    <%= post.blog_categories.map {|c| c.name}.join(', ') %>
  <% end %>

  <% if post.abstract.present? %>
    <div class="abstract">
      <%= markdown(post.abstract) %>
    </div>
  <% else %>
    <div class="pt-">
      <%= markdown(post.main_body) %>
    </div>
  <% end %>
</article>
