<article class="mb blog-content__article p">
  <h2>
    <%= link_to post.title, blog_post_path(post.id), class: 'blog__link' %>
  </h2>

  <i class="fa fa-clock-o"></i>&nbsp;
  <%= post.created_at.to_s(:gdt) %>

  <% if post.blog_categories.any? %>
    &nbsp;
    <i class="fa fa-folder-open-o"></i>&nbsp;
    <%= raw(post.blog_categories.map {|c| link_to c.name, blog_category_path(c.slug)}.join(', ')) %>
  <% end %>

  <% if post.abstract.present? %>
    <div class="abstract">
      <%= markdown(post.abstract) %>
    </div>
  <% else %>
    <div class="pt-">
      <%= markdown(post.main_body) %>
    </div>
  <% end %>
</article>
