<article class="blog-content__article mb-3">
  <hr>
  <i class="fa fa-clock-o"></i>&nbsp;
  <%= post.created_at.to_s(:gdt) %>
  <% if post.blog_categories.any? %>
    &nbsp;
    <i class="fa fa-folder-open-o"></i>&nbsp;
    <%= raw(post.blog_categories.map {|c| link_to c.name, blog_category_path(c.slug)}.join(', ')) %>
  <% end %>
  <hr>

  <h1>
    <%= link_to post.title, blog_post_path(post.id) %>
  </h1>
  <% if post.abstract.present? %>
    <div class="abstract">
      <%= markdown(post.abstract) %>
    </div>
    <p>
      <%= link_to t('blog.blogarticle.more'), blog_post_path(post.id) %>
    </p>
  <% else %>
    <div>
      <%= markdown(post.main_body) %>
    </div>
  <% end %>

</article>
