<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container">
    <%= link_to admin_root_path, class: 'navbar-brand pr-5' do %>
      <span class="fa fa-list"></span>
      50percent
    <% end %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item">
          <% frontend_url = Rails.env.development? ? root_path : 'https://50prozent.speakerinnen.org/' %>
          <%= link_to frontend_url, class: "nav-link"  do %>
            <span class="fa fa-globe"></span>
            Visit Frontend
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'http://blog.speakerinnen.org', target: '_blank', class: "nav-link"  do %>
            <span class="fa fa-leaf"></span>
            Visit Blog
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_events_path, class: "nav-link"  do %>
            <span class="fa fa-calendar"></span>
            Events
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_comments_path, class: "nav-link"  do %>
            <span class="fa fa-comment"></span>
            Comments
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to log_out_path, class: "nav-link"  do %>
            <span class="fa fa-user"></span>
            <%= current_user.email %>
            <span class="fa fa-log-in"></span>
            Log out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
