<%# admin_header_class = 'admin' if controller_path =~ /admin\// %>
<header>

  <nav class="navbar navbar-expand-md navbar-light fixed-top py-1 border-bottom" style="justify-content: space-between;" id=<%= controller_path =~ /admin\// ? "admin__header--color" : "blog-header" %> >
    <%= link_to(root_path, id: 'header__home-link', class: 'navbar-brand p-0 d-none d-md-inline-block') do %>
      <%= image_tag('logo_header.png', alt: 'logo', id: 'header__logo') %>
    <% end %>

    <%= link_to('Speakerinnen* Blog', root_path, id: 'blog-header__home-link', class: 'ml-1 ml-sm-5') %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown pl-3">
          <a class="dropdown-toggle nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Speakerinnen.org', 'https://speakerinnen.org/', target: '_blank', class: 'dropdown-item' %>
            <%= link_to 'Fiftypercent', 'https://50prozent.speakerinnen.org/', target: '_blank', class: 'dropdown-item'%>
            <%= link_to t(:contact, scope: 'pages.home.footer'), "https://speakerinnen.org/#{I18n.locale}/contact", class: 'dropdown-item'%>
          </div>
        </li>
        <li class="nav-item dropdown pl-3">
          <a class="dropdown-toggle nav-link" href="#" id="navbarDropdownMenuLinkLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-globe"></span>
          </a>
          <div class="dropdown-menu sans-serif" aria-labelledby="navbarDropdownMenuLinkLang" id="DropdownLanguages">
            <%= link_to 'EN', {locale: :en}, class: "dropdown-item #{'active' if I18n.locale == :en }" %>
            <%= link_to 'DE', {locale: :de}, class: "dropdown-item #{'active' if I18n.locale == :de }" %>
          </div>
        </li>
      </ul>
    </div>

  </nav>

  <!-- Anchor for top -->
  <a id="top"></a>

</header>
