<aside id="blog-sidebar--right" class="p">
<% if Page.blog_pages.any? %>
  <h4 class="blog-sidebar__title"><%= t 'blog.sidebar.pages' %></h4>
  <ul class="list-unstyled">
    <% Page.blog_pages.order(:rank).includes(:translations).all.each do |page| %>
      <li>
        <% link_to blog_page_path(page.slug) do %>
          <%= page.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

  <% Page.blog_sidebar_snippets.order(:rank).includes(:translations).all.each do |snippet| %>
    <h4 class="blog-sidebar__title"><%= snippet.title %></h4>
    <%= markdown(snippet.body) %>
  <% end %>

  <h4 class="blog-sidebar__title"><%= t 'blog.sidebar.categories' %></h4>
  <ul class="list-unstyled">
    <% BlogCategory.order(:rank).includes(:translations).all.each do |blog_category| %>
      <li>
        <%= link_to blog_category_path(blog_category.slug) do %>
          <i class="fa fa-folder-o"></i>&nbsp;
          <%= blog_category.name %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'https://50prozent.speakerinnen.org/log_in', title: "Admin" do %>
    <i class="fa fa-cog fa-fw"></i>&nbsp;
  <% end %>
</aside>
