<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>/">
      <h1 class="display-3">
        <%= t 'layout.header.title' %>
        <small class="d-none d-md-inline-block"><%= t 'layout.header.claim' %></small>
      </h1>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item">
              <%= form_tag(events_path, method: 'get', class: 'form-inline search', role: 'form') do %>
                <div class="form-group">
                  <%= text_field_tag(:q, params[:q],  {class: 'form-control',
                                                       placeholder: t('layout.sidebar.searchterm')
                                                       }) %>
                  <%= button_tag( class: "btn") do %>
                  <span class="fa fa-search"></span>
                </div>
                <% end %>
              <% end %>
          </li>
          <li class="nav-item">
            <a href="/p/about" class="nav-link">
              <span class="fa fa-info"></span>&nbsp;
              <%= t 'layout.header.about' %>
            </a>
          </li>

          <%# Page.sidebar_snippets.order(:rank).includes(:translations).all.each do |snippet| %>
<!--             <li class="nav-item">
              <a href="#<%# dom_id(snippet) %>">
                <span class="fa fa-arrow-down"></span>&nbsp;
                <%# snippet.title %>
              </a>
            </li>
 -->          <%# end %>

          <%# Page.menu_pages.order(:rank).includes(:translations).all.each do |page| %>
<!--             <li class="nav-item">
              <%# link_to page_path(page.slug) do %>
                <span class="fa fa-file"></span>&nbsp;
                <%# page.title %>
              <%# end %>
            </li>
 -->          <%# end %>

          <li class="language-switcher">
            <%= language_switcher.html_safe %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to admin_root_path do %>
                <span class="fa fa-cog"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div><!-- /.navbar-collapse -->

    <a onclick="topFunction()" id="btn-top" title="Go to top"><i class="fa fa-arrow-circle-up"></i></a>
  </div>

</nav>


<!-- javascript for the tag_cloud search -->
<script type="text/javascript" charset="utf-8">
  // When the user scrolls down 100px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
      if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
          document.getElementById("btn-top").style.display = "block";
      } else {
          document.getElementById("btn-top").style.display = "none";
      }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
