<nav class="frontend-navbar navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>/"><%= t 'layout.header.title' %></a>
      <%= t 'layout.header.claim' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs"><a href="#why">Warum?</a></li>
        <li class="visible-xs"><a href="#join">Mitmachen</a></li>
        <li class="language-switcher">
          <%= language_switcher.html_safe %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to admin_root_path do %>
              <span class="glyphicon glyphicon-cog"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
