<div id="nav__lap-and-up">

  <%= link_to('http://speakerinnen.org', target: '_blank') do %>
    <%= image_tag("logo_header.png", alt: "logo", id: 'blog-header__logo') %>
  <% end %>


  <%= link_to('Speakerinnen* Blog', root_path, id: 'blog-header__home-link') %>

  <span id="blog-header__languages">
  <i id="nav__lap_and_up-menu-trigger" class="fa fa-bars pr"></i>
    <%= language_switcher.html_safe %>
  </span>
  <div id="nav__lap_and_up-menu" class="bt" style="display: none">
    <%= link_to 'Speakerinnen Blog', 'https://blog.speakerinnen.org/', target: '_blank', class: 'nav__lap_and_up-menu-link ph' %>
    <%= link_to 'Fiftypercent', 'https://50prozent.speakerinnen.org/', target: '_blank', class: 'nav__lap_and_up-menu-link ph' %>
  </div>

</div>
