<aside class="widget">
<%= link_to new_event_path, class: 'btn btn-sidebar', style: 'width: 100%;' do %>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <%= t 'layout.sidebar.add_new_event_html' %>
<% end %>
</aside>

<aside class="widget">
  <h1><%= t 'layout.sidebar.search' %></h1>
  <%= form_tag(events_path, method: 'get', class: 'form-inline search', role: 'form') do %>
    <div class="form-group">
      <%= text_field_tag(:q, params[:q],  {class: 'form-control',
                                           placeholder: t('layout.sidebar.searchterm')
                                           }) %>
    </div>
    <%= button_tag( :class => "btn btn-sidebar") do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
  <% end %>
</aside>


<aside class="widget">
  <h1><%= t 'layout.sidebar.statistics' %></h1>
  <p>
    <%= t 'layout.sidebar.statistics_statement_html',
          {event_count: Event.count,
           total: total = Event.pluck(:total).sum,
           women: woman = Event.pluck(:woman).sum,
           percent: number_with_precision((woman.to_f / total.to_f) * 100, precision: 2)
           }%>
  </p>
</aside>

<aside class="widget">
  <h1>
    <a name="why"></a>Warum?
  </h1>
  50 Prozent sind die Hälfte. Frauen sind in etwa die Hälfte aller Menschen, aber selten die Hälfte auf Podien, am Mikro, bei Talk-Shows oder Konferenzen. "50 Prozent" dokumentiert, wieviele Frauen* es tatsächlich sind.

  Außerdem gibt es hier Datenbanken mit Rednerinnen, Beispiele und Methoden, die dabei helfen, das eigene Event gleichmäßiger zu besetzen und Ähnliche Projekte.

  (* Mit 'Frauen' sind alle gemeint, die sich selbst als eine sehen)
</aside>

<aside class="widget">
  <h1>
    <a name="join"></a>Mitmachen
  </h1>
  Alle, die gern Frauen* und Männer bei Events zählen, sind herzlich eingeladen, die Ergebnisse per Mail an 50prozent at riseup dot net zu schicken. Gern mit: Titel, URL, Angaben zu den Veranstaltenden (samt Kontakt, falls vorhanden), Datum, Ort, Thema und ob die Zählerin bzw. der Zähler als solche genannt werden dürfen.

  Es kann auch per Twitter gezählt werden: einfach die Gesamtzahl der Redner/Rednerinnen, Zahl der Frauen, URL und den Hashtag #50prozent in einen Tweet.
</aside>

<aside class="widget">
  <h1>Tags</h1>
  <div id='tag_cloud'>
    <% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
</aside>

<aside class="widget text-right">
  <%= link_to admin_root_path, title: "Admin" do %>
    <span class="glyphicon glyphicon-cog"></span>
  <% end %>
</aside>