<aside class="widget">
  <%= link_to new_event_path, class: 'btn btn-primary btn-block' do %>
    <span class="fa fa-plus-circle"></span>
    <%= t 'layout.sidebar.add_new_event_html' %>
  <% end %>
</aside>

<aside class="widget" id="statistics">
  <h6><%= t 'layout.sidebar.statistics' %></h6>
  <p>
    <%= t 'layout.sidebar.statistics_statement_html',
          {event_count: Event.published.counted.count,
           total: total = Event.published.counted.pluck(:total).compact.sum,
           women: woman = Event.published.counted.pluck(:woman).compact.sum,
           percent: number_with_precision((woman.to_f / total.to_f) * 100, precision: 2)
           }%>
    <% total = Event.published.counted.pluck(:total).compact.sum %>
    <% woman = Event.published.counted.pluck(:woman).compact.sum %>
    <% percent_woman= number_with_precision((woman.to_f / total.to_f) * 100, precision: 2) %>
    <%= render 'events/all_events_donut', percent: percent_woman.to_i %>
  </p>
</aside>
<hr>
<% Page.sidebar_snippets.order(:rank).includes(:translations).all.each do |snippet| %>
  <aside class="widget" id="<%= dom_id(snippet) %>">
    <h6><%= snippet.title %></h6>
    <%= markdown(snippet.body) %>
  </aside>
<% end %>
<hr>
<aside class="widget" id="page-list">
  <h6><%= t 'layout.sidebar.more' %></h6>
  <ul class="list-unstyled">
    <% Page.menu_pages.order(:rank).includes(:translations).all.each do |page| %>
      <li>
        <%= link_to page_path(page.slug) do %>
          <span class="fa fa-file"></span>
          <%= page.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>

<aside class="widget text-right">
  <%= link_to admin_root_path, title: "Admin" do %>
    <span class="fa fa-cog"></span>
  <% end %>
</aside>
