<div id="myfirstchart-<%= event.id %>" style="height: 200px; text-align:left;"> </div>
<script>

  Morris.Donut({
    element: 'myfirstchart-<%= event.id %>',
    data: [
      {label: "<%= I18n.t 'show.event.donut.male' %>",
       value: <%= event.percent_male  %>},
      {label: "<%= I18n.t 'show.event.donut.female' %>",
       value: <%= event.percent_female %> },
    ],
    formatter: function(y) { return y + "%"},
    backgroundColor: 'whitesmoke',
    labelColor: '#4E4E4E',
    colors: [
      '#A1D9D4',
      '#00978b'
    ]
  });

</script>
