<div id="myfirstchart-<%= event.id %>" style="height: 200px; text-align:left;"> </div>
<script>

  Morris.Donut({
    element: 'myfirstchart-<%= event.id %>',
    data: [
      {label: "<%= I18n.t 'show.event.donut.male' %>",
       value: <%= event.total - event.woman %> },
      {label: "<%= I18n.t 'show.event.donut.female' %>",
       value: <%= event.woman %>},
    ],
    backgroundColor: 'whitesmoke',
    labelColor: '#4E4E4E',
    colors: [
      '#517FA4',
      '#E43A15'
    ]
  });

</script>
