<div id="myfirstchart-<%= event.id %>" style="height: 200px; text-align:left;"> </div>
<script>

  Morris.Donut({
    element: 'myfirstchart-<%= event.id %>',
    data: [
      {label: "<%= I18n.t 'show.event.donut.male' %>",
       value: <%= event.percent_male  %>},
      {label: "<%= I18n.t 'show.event.donut.female' %>",
       value: <%= event.percent_female %>},
    ],
    backgroundColor: 'whitesmoke',
    labelColor: '#4E4E4E',
    colors: [
      '#375E97',
      '#c5141c'
    ]
  });

</script>
