<article>
  <h1><%= link_to event.title, event %></h1>
  <% if event.subtitle.present? %>
    <div class="subtitle"><%= event.subtitle %></div>
  <% end %>

  <% unless event.date.blank? and event.city.blank? %>
    <div class="where-when">
      <span class="glyphicon glyphicon-calendar"></span>
      <%= event.date.to_s(:gd) if event.date %>
      &nbsp; &nbsp;
      <span class="glyphicon glyphicon-home"></span>&nbsp;
      <%= event.city %>
    </div>
  <% end %>

  <div class="main row">
    <div class="col-md-<%= event.has_all_the_numbers? ? '8' : '12' %>">
      <% if event.description.present? %>
        <div class="description"><%= simple_format(event.description) %></div>
      <% end %>
      <% if event.organizers.present? %>
        <div class="organizers">
          <strong><%= t 'show.event.organizers' %>:</strong>
          <%= markdown(event.organizers, filter_html: true, link_attributes: {target: '_blank'}) %>
        </div>
      <% end %>

      <% if event.has_all_the_numbers? %>
        <div class="who-speaks">
          <%= t 'show.event.speaking', percent_male: event.percent_male %>
        </div>
      <% end %>

      <% if is_single_view %>
        <hr>
        <dl class="">
          <% if event.main_url.present? %>
            <dt><%= t 'show.event.website' %></dt>
            <dd><%= link_to event.main_url, event.main_url %></dd>
          <% end %>
          <% if event.speaker_list_url.present? %>
            <dt><%= t 'show.event.speaker_list_url' %></dt>
            <dd><%= link_to event.speaker_list_url, event.speaker_list_url %></dd>
          <% end %>
          <% if event.contact_url.present? %>
            <dt><%= t 'show.event.contact_url' %></dt>
            <dd><%= linked_contact_info(event.contact_url).html_safe %></dd>
          <% end %>
          <% if event.has_all_the_numbers? %>
            <dt><%= t 'show.event.speaker_count' %></dt>
            <dd><%= t 'show.event.speaker_count_statement', total: event.total.to_s, women: event.woman.to_s %></dd>
          <% end %>
          <% if event.remark.present? %>
            <dt><%= t 'show.event.remark' %></dt>
            <dd><%= event.remark%></dd>
          <% end %>
        </dl>
      <% end %>

      <% if event.body %>
        <div id="event_body">
          <%= simple_format(event.body) %>
        </div>
      <% end %>

      <% if event.tags.any? %>
        <br>
        <strong><%= t 'show.event.topic_tags' %></strong><br>
        <% event.tags.each do |tag| %>
          <%= link_to tag_path(tag: tag.name) do %>
            <span class="badge"><%= tag.name %></span>
          <% end %>
        <% end %>
        <br><br>
      <% end %>


    </div>
    <% if event.has_all_the_numbers? %>
      <div class="col-md-4">
        <%= render 'events/donut', event: event %>
      </div>
    <% end %>
  </div>

  <% if is_single_view %>

    <div class="footer single row">
      <div class="col-md-12">
        <% if event.reporter.present? %>
          <strong><%= t 'show.event.reporter' %>:</strong>
          &nbsp;
          <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
          <%= event.reporter %>
        <% end %>
        <% if event.reporter_url.present? %>
          &nbsp; &nbsp;
          <span class="glyphicon glyphicon-envelope"></span>&nbsp;
          <%= linked_contact_info(event.reporter_url).html_safe %>
        <% end %>
      </div>
    </div>

  <% else %>

    <div class="footer list row">
      <div class="col-md-9">
        <% if event.comments.select{|c| c.published?}.any? %>
          <%= link_to event_path(event, anchor: 'comments'), title: t('show.event.comments') do %>
            <span class="glyphicon glyphicon-comment"></span>
            <%= event.comments.select{|c| c.published?}.size %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3 text-right">
        <% if current_user %>
          <%= link_to edit_admin_event_path(event) do %>
            admin-edit
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          &nbsp; &nbsp;
        <% end %>
        <%= link_to event_path(event) do %>
          <%= t 'show.event.more' %>
          <span class="glyphicon glyphicon-arrow-right"></span>
        <% end %>
      </div>
    </div>

  <% end %>


</article>