<article>

  <h1><%= link_to event.title + ': ' , event %>

    <% if event.has_all_the_numbers? %>
      <%= link_to (t 'show.event.speaking', percent_male: event.percent_male), event,
        class: "event__link--#{classname_for_event_title(event)}" %>
      <%# class will be event__link--more-male or more-female %>
    <% end %>

  </h1>
  <% if event.description.present? %>
    <div class="description"><%= simple_format(event.description) %></div>
  <% end %>

  <% unless event.date.blank? and event.city.blank? %>
    <div class="where-when">
      <span class="glyphicon glyphicon-calendar"></span>
      <%= event.date.to_s(:gd) if event.date %>
      &nbsp; &nbsp;
      <span class="glyphicon glyphicon-home"></span>&nbsp;
      <%= event.city %>
    </div>
  <% end %>

  <div class="main row">
    <div class="col-md-<%= event.has_all_the_numbers? ? '8' : '12' %>">

      <% if is_single_view %>
        <dl class="dl-horizontal">
          <% if event.organizers.present? %>
            <dt><%= t 'show.event.organizers' %>:</dt>
            <dd><strong><%= markdown(event.organizers, filter_html: true, link_attributes: {target: '_blank'}) %></strong></dd>
          <% end %>

          <% if event.main_url.present? %>
            <dt><%= t 'show.event.website' %>:</dt>
            <dd>
              <%= link_to event.main_url do %>
                <span class="glyphicon glyphicon-share"></span>
                Link
              <% end %>
            </dd>
          <% end %>
          <% if event.speaker_list_url.present? %>
            <dt><%= t 'show.event.speaker_list_url' %>:</dt>
            <dd>
              <%= link_to event.speaker_list_url do %>
                <span class="glyphicon glyphicon-share"></span>
                Link
              <% end %>
            </dd>
          <% end %>
          <dt><%= t 'show.event.contact_url' %>:</dt>
          <% if event.contact_twitter.present? %>
            <dd>
            <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
            <%= linked_contact_info(event.contact_twitter).html_safe %>
            </dd>
          <% end %>
          <% if event.contact_url.present? %>
          <dd>
            <%= linked_contact_info(event.contact_url).html_safe %>
          </dd>
          <% end %>
          <% if event.contact_email.present? %>
          <dd>
            <span class="glyphicon glyphicon-envelope"></span>&nbsp;
            <%= linked_contact_info(event.contact_email).html_safe %>
          </dd>
          <% end %>

          <% if event.has_all_the_numbers? %>
          <br>
            <dt><%= t 'show.event.speaker_count' %>:</dt>
            <dd><%= t 'show.event.speaker_count_statement', total: event.total.to_s %> <%= t 'show.event.woman', count: event.woman, women: event.woman.to_s %></dd>
          <% end %>
          <% if event.remark.present? %>
            <dt><%= t 'show.event.remark' %>:</dt>
            <dd><%= event.remark%></dd>
          <% end %>
        </dl>

      <% else %>

        <% if event.organizers.present? %>
          <div class="organizers">
            <strong><%= t 'show.event.organizers' %>:</strong>
            <%= markdown(event.organizers, filter_html: true, link_attributes: {target: '_blank'}) %>
          </div>
        <% end %>

      <% end %>

      <% if event.body %>
        <div id="event_body">
          <%= simple_format(event.body) %>
        </div>
      <% end %>

      <% if event.tags.any? %>
        <br>
        <strong><%= t 'show.event.topic_tags' %>:</strong><br>
        <% event.tags.each do |tag| %>
          <%= link_to tag_path(tag: tag.name) do %>
            <span class="badge"><%= tag.name %></span>
          <% end %>
        <% end %>
        <br><br>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if event.has_all_the_numbers? %>
          <%= render 'events/donut', event: event %>
      <% end %>
    </div>


  </div>

  <% if is_single_view %>

    <div class="footer single row">
      <div class="col-md-12">
        <% if event.reporter.present? %>
          <strong><%= t 'show.event.reporter' %>:</strong>
          &nbsp;
          <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
          <%= event.reporter %>
        <% end %>

        &nbsp; &nbsp;

        <% if event.reporter_twitter.present? %>
          &nbsp; &nbsp;
          <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
          <%= linked_contact_info(event.reporter_twitter).html_safe %>
        <% end %>
        <% if event.reporter_url.present? %>
          &nbsp; &nbsp;
          <%= linked_contact_info(event.reporter_url).html_safe %>
        <% end %>
        <% if event.reporter_email.present? %>
          &nbsp; &nbsp;
          <span class="glyphicon glyphicon-envelope"></span>&nbsp;
          <%= linked_contact_info(event.reporter_email).html_safe %>
        <% end %>
      </div>
    </div>


  <% else %>

    <div class="footer list row">
      <div class="col-md-9">
        <% if event.comments.select{|c| c.published?}.any? %>
          <%= link_to event_path(event, anchor: 'comments'), title: t('show.event.comments') do %>
            <span class="glyphicon glyphicon-comment"></span>
            <%= event.comments.select{|c| c.published?}.size %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3 text-right">
        <% if current_user %>
          <%= link_to edit_admin_event_path(event) do %>
            admin-edit
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          &nbsp; &nbsp;
        <% end %>
        <%= link_to event_path(event) do %>
          <%= t 'show.event.more' %>
          <span class="glyphicon glyphicon-arrow-right"></span>
        <% end %>
      </div>
    </div>

  <% end %>


</article>
