<article>
  <h1><%= link_to event.title, event %></h1>
  <% if event.subtitle.present? %>
    <div class="subtitle"><%= event.subtitle %></div>
  <% end %>
  <div class="where-when">
    <span class="glyphicon glyphicon-calendar"></span>
    <%= event.date.to_s(:gd) %>
    &nbsp; &nbsp;
    <span class="glyphicon glyphicon-home"></span>&nbsp;
    <%= event.city %>
  </div>
  <div class="main row">
    <div class="col-md-8">
      <% if event.description.present? %>
        <div class="description"><%= simple_format(event.description) %></div>
      <% end %>
      <% if event.organizers.present? %>
        <div class="organizers">
          <strong><%= t 'show.event.organizers' %>:</strong>
          <%= markdown(event.organizers) %>
        </div>
      <% end %>

      <div class="who-speaks">
        <%= t 'show.event.speaking', percent_male: event.percent_male %>
      </div>

      <% if is_single_view %>
        <hr>
        <dl class="">
          <% if event.main_url.present? %>
            <dt><%= t 'show.event.website' %></dt>
            <dd><%= link_to event.main_url, event.main_url %></dd>
          <% end %>
          <% if event.speaker_list_url.present? %>
            <dt><%= t 'show.event.speaker_list_url' %></dt>
            <dd><%= link_to event.speaker_list_url, event.speaker_list_url %></dd>
          <% end %>
          <% if event.contact_url.present? %>
            <dt><%= t 'show.event.contact_url' %></dt>
            <dd><%= link_to event.contact_url, event.contact_url %></dd>
          <% end %>
          <dt><%= t 'show.event.speaker_count' %></dt>
          <dd><%= t 'show.event.speaker_count_statement', total: event.total.to_s, women: event.woman.to_s %></dd>
          <% if event.remark.present? %>
            <dt><%= t 'show.event.remark' %></dt>
            <dd><%= event.remark%></dd>
          <% end %>
        </dl>
      <% end %>

    </div>
    <div class="col-md-4">
      <%= render 'events/donut', event: event %>
    </div>
  </div>

  <% if is_single_view %>

    <div class="footer single row">
      <div class="col-md-12">
        <% if event.reporter.present? %>
          <strong>Reporter:</strong>
          &nbsp;
          <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
          <%= event.reporter %>
        <% end %>
        <% if event.reporter_url.present? %>
          &nbsp; &nbsp;
          <span class="glyphicon glyphicon-envelope"></span>&nbsp;
          <%= event.reporter_url %>
        <% end %>
      </div>
    </div>

  <% else %>

    <div class="footer list row">
      <div class="col-md-9">
        <% if event.comments.select{|c| c.published?}.any? %>
          <%= link_to event_path(event, anchor: 'comments'), title: t('show.event.comments') do %>
            <span class="glyphicon glyphicon-comment"></span>
            <%= event.comments.select{|c| c.published?}.size %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3 text-right">
        <%= link_to event_path(event) do %>
          <%= t 'show.event.more' %>
          <span class="glyphicon glyphicon-arrow-right"></span>
        <% end %>
      </div>
    </div>

  <% end %>


</article>