<article class="<%= cycle('bright', 'dark') -%>">
  <h1>
    <%= link_to event.title, event %>
  </h1>

  <div class="main row">
    <div class="col-md-6">
      <ul>
        <li>
          Es reden:
          <div class="bold">
            <%= event.percent_male %>% Männer
          </div>
        </li>
        <li>
          Veranstaltet von:
          <div class="bold">
            <%= event.main_url%>
          </div>
        </li>
      <ul>
    </div>
    <div class="col-md-6">
      <%= render "donut", event: event %>
    </div>
  </div>

  <div class="byline row">
    <div class="col-md-9">
      <ul class="date">
        <li>
          <span>
            Datum:
          </span>
          <%= event.date.to_s(:gd) %>
        </li>
        <li>
          <span>
            Ort:
          </span>
          <%= event.city %>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <% if event.comments.any? %>
        <%= link_to event_path(event, anchor: 'comments') do %>
          <span class="glyphicon glyphicon-comment"></span>
          <%= event.comments.size %>
        <% end %>
      <% end %>
    </div>
  </div>

</article>