<fieldset>
  <legend><%= t('fieldset.legend.event.what') %></legend>
  <%= f.text_field :title %>
  <%= f.text_area :subtitle %>
  <%= f.text_area :description %>
  <%= f.url_field :main_url %>
</fieldset>

<fieldset>
  <legend><%= t('fieldset.legend.event.when_and_where') %></legend>
  <%= f.date_select :date, include_blank: true %>
  <%= f.text_field :city %>
  <div class="form-group">
    <%= label_tag 'event_country_code', t('helpers.label.event.country_code'), class: 'control-label' %>
    <%= country_select :event, :country_code, {priority_countries: %w(DE AU CH FR NL GB US)}, {class: 'form-control'} %>
    <span class="help-block"><%= t('activerecord.help.event.country_code') %></span>
  </div>
</fieldset>

<fieldset>
  <legend><%= t('fieldset.legend.event.who') %></legend>
  <%= f.text_area :organizers %>
  <%= f.text_area :contact_url %>
</fieldset>

<fieldset>
  <legend><%= t('fieldset.legend.event.topics') %></legend>
  <%= f.text_field :tag_list %>
</fieldset>

<fieldset>
  <legend><%= t('fieldset.legend.event.speakers') %></legend>
  <%= f.number_field :woman, min: 0 %>
  <%= f.number_field :total, min: 0 %>
  <%= f.url_field :speaker_list_url %>
  <%= f.text_field :remark %>
</fieldset>

<fieldset>
  <legend><%= t('fieldset.legend.event.and_you') %></legend>
  <%= f.text_field :reporter %>
  <%= f.text_field :reporter_url %>
</fieldset>

<fieldset>
  <a name="internal"></a>
  <legend><%= t('fieldset.legend.event.finally') %></legend>
  <%= f.text_area :internal_user_info %>
</fieldset>
