<%= render partial: 'tag_or_search_summery' %>

<div class="row m-0 mb-3 sorting">
  <div class="col">
    <%= link_to_unless(params[:order_by] == "date", '<i class="fa fa-sort"></i>'.html_safe + t('index.date').html_safe, events_path(order_by: "date"), class:'pr-3' ) %>
  </div>
  <div class="col">
  <%= link_to_unless(params[:order_by] == "created_at" || params[:order_by] == nil, '<i class="fa fa-sort"></i>'.html_safe + t('index.created_at').html_safe, events_path(order_by: "created_at"), class:'pl-3' ) %>
  </div>
</div>

<%= render @events %>

<% if @events.any? %>
  <div class="row">
    <div class="col-md-5">
      <%= page_entries_info @events %>
    </div>
    <div class="col-md-7 text-right">
      <%= paginate @events %>
    </div>
  </div>
<% end %>
