<h1><%= t 'new.event.title' %>:</h1>

<%= t 'new.event.explain_html' %>

<%= bootstrap_form_for(@event) do |f| %>
  <%= render partial: 'form_fields', locals: {f: f} %>
  <%= f.submit t('new.event.save'), class: "btn btn-success" %>
<% end %>
<%= t 'new.event.thank_you_html' %>