<%= render @event %>

<% if @event.frontend_editable?(session[:reported_events_ids]) %>
  <p>
    <br><br><br>
    This event can still be edited by <strong>you</strong> for
    <strong><%= (@event.remaining_edit_time / 60.0).to_i %> minutes</strong>.
    Counting from the moment, this page was loaded by
    you browser.
  </p>
  <%= link_to raw('<span class="fa fa-pencil"></span> Edit'),
              edit_event_path(@event),
              class: 'btn btn-primary' %>
<% end %>

<% if @event.comments.published.any? %>
  <div class="comments" id="comments">
    <h2><%= t 'show.event.your_comments' %>:</h2>
    <%= render partial: 'events/comment', collection: @event.comments.published %>
  </div>
<% end %>

<% if @event.published? %>
  <%= render "events/comment_form", event: @event, comment: @comment %>
<% end %>

<% if current_user %>
  <%= link_to edit_admin_event_path(@event), class: 'btn btn-primary' do %>
    Admin:
    <span class="fa fa-cog"></span>
    edit
  <% end %>

<% end %>



