<dl class="dl-horizontal">
  <dt>Titel der Konferenz</dt>
  <dd><%= @event.title %></dd>
  <% if @event.subtitle %>
    <dt>Motto der Konferenz</dt>
    <dd><%= @event.subtitle %></dd>
  <% end %>
  <dt>Datum</dt>
  <dd><%= @event.date.strftime("%d %B %Y um %H:%M Uhr") %></dd>
  <dt>Ort</dt>
  <dd><%= @event.city + " in " + @event.country %></dd>
  <% if @event.description %>
    <dt>Beschreibung</dt>
    <dd><%= @event.description %></dd>
  <% end %>
  <dt>Webseite</dt>
  <dd><%= link_to @event.main_url, @event.main_url %></dd>
  <% if @event.speaker_list_url %>
    <dt>Link zur Speakerliste</dt>
    <dd><%= link_to @event.speaker_list_url, @event.speaker_list_url %></dd>
  <% end %>
  <% if @event.contact_url %>
    <dt>Kontakt zur Veranstaltung</dt>
    <dd><%= mail_to @event.contact_url, @event.contact_url %></dd>
  <% end %>
  <dt>Anzahl der Speaker</dt>
  <dd><%= @event.total.to_s + " Sprecher, davon " + @event.woman.to_s + " Frauen" %></dd>
  <dt>Prozentzahl der Männer</dt>
  <dd><%= @event.male%>% Männer</dd>
  <br>
  <dt>Gezählt von</dt>
  <dd><%= @event.reporter %></dd>
  <% if @event.reporter_url %>
    <dd><%= link_to @event.reporter_url, @event.reporter_url %></dd>
  <% end %>
  <dt>Tags</dt>
  <dd><%= @event.topic_list %>
</dl>

<%= render "donut", event: @event %>

<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>



