<div class="row overview">

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h2>
          <span class="fa fa-calendar"></span>
          Events
        </h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to admin_events_path(mod_state: 'unchecked') do %>
              <span class="fa fa-question-circle"></span>
              unchecked
              (<%= Event.unchecked.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_events_path(mod_state: 'published') do %>
              <span class="fa fa-thumbs-up"></span>
              published
              (<%= Event.published.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_events_path(mod_state: 'hidden') do %>
              <span class="fa fa-thumbs-down"></span>
              hidden
              (<%= Event.hidden.count %>)
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h2>
          <span class="fa fa-comment"></span>
          Comments
        </h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to admin_comments_path(mod_state: 'unchecked') do %>
              <span class="fa fa-question-circle"></span>
              unchecked
              (<%= Comment.unchecked.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_comments_path(mod_state: 'published') do %>
              <span class="fa fa-thumbs-up"></span>
              published
              (<%= Comment.published.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_comments_path(mod_state: 'hidden') do %>
              <span class="fa fa-thumbs-down"></span>
              hidden
              (<%= Comment.hidden.count %>)
            <% end %>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h2 class="panel-title">
          <span class="fa fa-file"></span>
          Pages
        </h2>
      </div>
      <div class="card-body">
        <ul class="nav list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to admin_pages_path(page_type: 'blog_post') do %>
              <span class="fa fa-leaf"></span>
              Blog Posts
              (<%= Page.blog_posts.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_pages_path(page_type: 'blog_page') do %>
              <span class="fa fa-file"></span>
              Blog Pages
              (<%= Page.blog_pages.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_pages_path(page_type: 'blog_sidebar_snippet') do %>
              <span class="fa fa-align-justify"></span>
              Blog sidebar_snippets
              (<%= Page.blog_sidebar_snippets.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_pages_path(page_type: 'sidebar_snippet') do %>
              <span class="fa fa-align-justify"></span>
              sidebar_snippets
              (<%= Page.sidebar_snippets.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_pages_path(page_type: 'menu_page') do %>
              <span class="fa fa-file"></span>
              menu_pages
              (<%= Page.menu_pages.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_blog_categories_path do %>
              <span class="fa fa-folder-open"></span>&nbsp;
              Categories (Blog)
              (<%= BlogCategory.count %>)
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to admin_images_path do %>
              <span class="fa fa-image"></span>&nbsp;
              Images
              (<%= Image.count %>)
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
