<p>
  Images should be no wider than <strong>700px</strong> to fit nicely into the layout.
</p>
<%= bootstrap_form_for(['admin', @image]) do |f| %>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, help: 'helps you to find the image later, maybe include the name of the article or event the image belongs to' %>
  <%= f.text_area :description, help: 'optional, leave some background information here. what is the source of the picture? are there any copyright or licence informations?' %>
  <%= f.file_field :file, help: 'Your current file-name will become part of the URL later. So maybe rename the image-file on your machine?' %>
  <%= f.submit 'Save', class: "btn btn-secondary" %>

<% end %>
