<%= bootstrap_form_for(['admin', @image]) do |f| %>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.file_field :file %>
  <%= f.submit 'Save', class: "btn btn-success" %>

<% end %>
