<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hallo Anne!</p>
    <p>Es gibt einen neuen Eintrag. Die neu erstellte Konferenz hat die ID: <%= @event.id %>, den Titel <%= @event.title %> und wurde von <%= @event.reporter.present? ? @event.reporter : "Admin"%> eingestellt.</p>
    <p>Hier kannst Du sie freischalten: <a href="<%= @url %>"><%= @url %></a>.
    <p>Einen schönen Tag noch!!!</p>
  </body>
</html>
