<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Ammin - Fiftypercent</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">

<%= render 'shared/admin_menu' %>

<div class='container' id='content'>

  <div class='row'>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash flash_#{name} panel panel-primary col-md-8" %>
    <% end %>
  </div>

  <div class='row'>

    <div class='col-md-12'>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
