<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title><%= t(:title, scope: 'layout.header') %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= class_for_body_tag %>">
  <%= render 'shared/header' %>

  <div class='container' id='content'>
    <% if Rails.env.development? %>
      <%= render 'shared/debug' %>
    <% end %>
    <%= flash_messages %>

<!-- Possible landing page section
    <section class="row" id="statistics">
      <div class="col-md-12">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">
          <%= t 'layout.sidebar.statistics_statement_html',
            {event_count: Event.published.counted.count,
             total: total = Event.published.counted.pluck(:total).compact.sum,
             women: woman = Event.published.counted.pluck(:woman).compact.sum,
             percent: number_with_precision((woman.to_f / total.to_f) * 100, precision: 2)
             }%>
          <% total = Event.published.counted.pluck(:total).compact.sum %>
          <% woman = Event.published.counted.pluck(:woman).compact.sum %>
          <% percent_woman= number_with_precision((woman.to_f / total.to_f) * 100, precision: 2) %>
          <%= render 'events/all_events_donut', percent: percent_woman.to_i %>
        </p>
        <p>
          <%= link_to new_event_path, class: 'btn btn-primary   ' do %>
            <span class="fa fa-plus-circle"></span>
            <%= t 'layout.sidebar.add_new_event_html' %>
          <% end %>
        </p>
      </div>
    </section>
-->

    <div class='row'>
      <div class='col-md-12'>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
