<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Fiftypercent</title>

  <%= stylesheet_link_tag    'blog', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body class="blog">

  <%= render 'shared/blog_header' %>
  <div id='blog-content'>

  <% if Rails.env.development? %>
    <%= render 'shared/debug' %>
  <% end %>
  <%= flash_messages %>

  <div class="layout-wrapper layout">
    <div class='layout__item 3/4 portable-1/1 mt+'>
      <%= yield %>
    </div><!--
    --><div class='layout__item 1/4 portable-1/1' id='blog-sidebar'>
      <%= render 'shared/blog_sidebar' %>
    </div>
  </div>

</body>
</html>
