<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Speakerinnen Blog</title>

  <%= stylesheet_link_tag 'blog', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body class="blog">

  <%= render 'shared/blog_header' %>
  <div id="blog-content" class="container">

    <% if Rails.env.development? %>
      <%= render 'shared/debug' %>
    <% end %>
    <%= flash_messages %>

    <div class="row">

      <div class="col-sm-12">
        <% if @blog_category %>
          <h2>
            <i class="fa fa-folder-open-o"></i>&nbsp;
            <%= @blog_category.name %>
          </h2>
        <% end %>

      </div>

      <div class="col-sm-12 col-md-8">
        <%= yield %>
      </div><!--

      --><div class="col-sm-12 col-md-4">
        <%= render 'shared/blog_sidebar' %>
      </div>
    </div>

  </div>

</body>
</html>
